 html, body {
    height: 100%;
    margin: 0;
    font-family: 'Lobster', cursive;
    font-size: 1.5cm;
    background-color: #707070;
 }
.top-header{
    background-color: #707070;
    
    
}
li a:hover {
    background-color: #555;
    color: white;

}
.whole{
    display: grid;
    grid-template-rows: auto 1fr 200px;
}

.main_body {
    display: grid;
    grid-template-columns: 10% 1fr;
     }
.leftColumn {
    background-color: 707070;
  
}

.centre {
    text-align: center;
    font-family: "Alfa Slab One", cursive;
}
.leftColumn {

    background-color: #707070;
    
    
}
    h1 {
        font-family: 'Lobster', cursive;
        color: #000;
        align-content: center;
    }
    header {
        width:100%;
        height:50px;
        background-color: #707070;
        color: black;
    }
    .rightColumn {
        text-align: center;
        padding: 5%;
        background-color: #B1B1B1;
        height: 550px;
      }
    .footer{
        padding: 2%;
background-color: #707070;
    }
       
.container:hover{
    filter: grayscale();
    border-style: none;
    transition: background-size 0.3s ease;  
    

}
   
    img {
        border-style: none;
        border-radius: 10%;
       

    
}
ul {
    list-style-type: none;
    background-color:  #707070;
    align-content: center;
    
  }
  
  li a {
     display: grid; 
    color: #000;
  
    text-decoration: none;
  }
  h2 {
    margin: 0.5cm;
    align-content: center;
    font-size: 1em;
    font-family: 'Lobster', cursive;}
    * {
        margin: 0%;
    }
    h3
    {
       color:  	#8A2BE2;
    }
    
.carousel {
    margin-left: 35%;
    margin-right: 45%;
}

ul.slides {
    display: block;
    position: relative;
    height: 350px;
    width: 390;
    margin: 0;
    padding: 0;
    overflow: hidden;
    list-style: none;
   
}

.slides * {
    user-select: none;
    -ms-user-select: none;
    -moz-user-select: none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    -webkit-touch-callout: none;
}

ul.slides input {
    display: none; 
}


.slide-container { 
    display: block; 
}

.slide-image {
    display: block;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    opacity: 0;
    transition: all .7s ease-in-out;
}   

.slide-image img {
    width: auto;
    min-width: 100%;
    height: 100%;
}

.carousel-controls {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    z-index: 999;
    font-size: 100px;
    line-height: 600px;
    color: #fff;
}

.carousel-controls label {
    display: none;
    position: absolute;
    padding: 0 20px;
    opacity: 0;
    transition: opacity .2s;
    cursor: pointer;
}

.slide-image:hover + .carousel-controls label{
    opacity: 0.5;
}

.carousel-controls label:hover {
    opacity: 1;
}

.carousel-controls .prev-slide {
    width: 49%;
    text-align: left;
    left: 0;
}

.carousel-controls .next-slide {
    width: 49%;
    text-align: right;
    right: 0;
}

.carousel-dots {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 5px;
    z-index: 999;
    text-align: center;
}

.carousel-dots .carousel-dot {
    display: inline-block;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: black;
    opacity: 0.5;
    margin: 10px;
}

input:checked + .slide-container .slide-image {
    opacity: 1;
    transform: scale(1);
    transition: opacity 1s ease-in-out;
}

input:checked + .slide-container .carousel-controls label {
     display: none; 
}

input#img-1:checked ~ .carousel-dots label#img-dot-1,
input#img-2:checked ~ .carousel-dots label#img-dot-2,
input#img-3:checked ~ .carousel-dots label#img-dot-3,
input#img-4:checked ~ .carousel-dots label#img-dot-4,
input#img-5:checked ~ .carousel-dots label#img-dot-5,
input#img-6:checked ~ .carousel-dots label#img-dot-6 {
	opacity: 1;
}


input:checked + .slide-container .nav label { display: block; }
    
@media (max-width: 800px){
    .main_body{
        grid-template-columns: 1fr; 
    }
    .leftColumn ul li{
        display: inline-block;
    }
}
